<div class="col-md-2 image-align">{{!--adicionei col-md-1--}}
    <div>{{!--removi col-md-1--}}
        <img src="{{image_url}}" alt="{{name}}" height="180px"/>
    </div>
</div>
<div class="col-md-8 itemcardtext">
    <h1>{{name}}</h1>
    <h2>{{tagline}}</h2>
    <p>{{description}}</p>
